img {
  margin: auto;
}
#logo {
  display: flex;
  margin: 0;
}
nav {
  width: 100;
  /* background-color: black; */
  display: flex;
  gap: 10px;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: Merriweather, sans-serif;
    padding: 5px;
    font-weight: 600;
    border-radius: 10px;
    backdrop-filter: blur(10px);
  }
